@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1743005404677') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before {
  content: "\e618";
}

.icon-shoujiqia:before {
  content: "\e502";
}

.icon-gouwuche:before {
  content: "\e70b";
}

.icon-sousuo:before {
  content: "\e61f";
}

.icon-you:before {
  content: "\e608";
}

